[Network]
proxy_enabled 	= False
username 		= None
password 		= None
address 		= None
port 			= 0


[Scraper]
# Select the service to scrape first: idqd (iqdb) or sourceNAO (sourenao)
scrape_target 	= iqdb

# Enable unsafe searches
perv_mode 		= False

[QC]
has_settings 	= False


[Upload]
has_settings 	= False

[Folder]
# Default path of folder to load. Overridden by command line inputs
path			= J:\pictures\_new

# Mode to use, options are regex, image, danbooru, tumblr, pixiv, all or to not provide one
mode 			= image

# Provide a regex for regex loader
use_regex 		= False
regex   	 	= [0-9a-Z]{10}

# Specify danbooru mode, IE if to load sample or nonsample images, default is 'all', other options are 'sample' and 'nosample'
danbooru_mode   = all

# Specify specific image dimensions to load from tumbler, a list can be provided, standard dimensions used in example
tumblr_qual    	= 75, 100, 250, 400, 500, 280

# Set accepted image extensions, affects all modes bar all
image_extensions = jpg, gif, tiff, png, bmp, jpeg
